body{
    text-align: center;
    font-size: 2em;
    font-family: Inter;
 }
 div{
    margin-bottom: 20px;
    margin-top: 30px;
 }
 #Успенський-собор, #Flag-blue, #Flag-yellow{
   position: relative;
 }
 #Успенський-собор{
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
background-size: cover;
width: 1440px;
height: 700px;
 }
 #Flag-blue{
   top: -482px;
   left: 80px;
   height: 191px;
   width: 24px;
 }
 #Flag-yellow{
   top: -512px;
   left: 80px;
   height: 197px;
   width: 24px;
 }
 .textonimage{
 position:absolute;
 white-space: pre-line;  
 text-align:left;
 top: 300px;
 left: 160px;
 font-size: 200%;
 color: rgb(255, 255, 255);
}
.wrap{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}
.block_1 h1, .block_2 h1, .block_3 h1{
font-size: 32px;
font-family: Inter;
font-weight: normal;
}
.block_1{
   border: 1px solid; 
   border-radius: 30px;
   padding: 30px;
   border-color: #9b9fa2;
   margin-right: 10px;
   margin-left: 10px;
   font-family: inter;
   width: 380px;
   height: 481px;
   box-shadow: rgba(0, 0, 0, 1);
   display: inline-block;
}
.cursor{
   background-size: 20%;
   left: 344px;
   top: 1200px;
   width: 64px;
   height: 68px;
}
.block_2{
      border: 1px solid; 
      border-radius: 30px;
      padding: 30px;
      border-color: #9b9fa2;
      margin-right: 10px;
      margin-left: 10px;
      font-family: inter;
      width: 380px;
      height: 481px;
      box-shadow: rgba(0, 0, 0, 1);
      display: inline-block;
}
.block_3{
      border: 1px solid; 
      border-radius: 30px;
      padding: 30px;
      border-color: #9b9fa2;
      margin-right: 10px;
      margin-left: 10px;
      font-family: inter;
      width: 380px;
      height: 481px;
      box-shadow: rgba(0, 0, 0, 1);
      display: inline-block;
}
.bot-border {
    border-bottom: #33B8F1 solid 4px;
}

.blue{
   color: #0BBBD3;
}
.white{
   color: white;
}
.sup{
   background-color: #33ADF1;
   width: 150px;
   color: white;
}
.bot-block{
   width: 100%;
   height: 300px;
   background-color:  #0A2DA9;
   padding-top: 50px; 
}
a{
   text-decoration: none;
   color: #353949;
}
.twitter-icon{
   position: absolute;
   width: 47;
   height: 48;
   top: 3200px;
   left: 570px;
   background: #0931BF;
   border-radius: 70px;
}
.telegram-icon{
   position: absolute;
   width: 52;
   height: 47;
   top: 3200px;
   left: 650px;
   background: #0931BF;
   border-radius: 70px;
}
.instagram-icon{
   position: absolute;
   width: 47;
   height: 48;
   top: 3200px;
   left: 730px;
   background: #0931BF;
   border-radius: 70px;
}
.facebook-icon{
   position: absolute;
   width: 45;
   height: 43;
   top: 3200px;
   left: 810px;
   background: #0931BF;
   border-radius: 70px;
}